.headerContainer {
  height: 5rem;
  margin-bottom: 2rem;
}

.headerContent {
  height: 5rem;
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  img {
    max-width: 240px;
  }
}
